body {
    margin: 0;
    padding: 0;
    background-image: url('morenoo.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
  
a {
    color: inherit; 
    text-decoration: none; 
  }

.background-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 1;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: red;
    margin: 0;
    padding:0;
    border-bottom: 0.5vh solid #333;
}

img.titel {
    width: 30vw;
}

img.search {
    position: absolute;
    right: 6%; 
    width: 3vw;
    opacity: 1;
    top: 2vh;
}
img.cart {
    position: absolute;
    right: 2%; 
    width: 3vw;
    opacity: 1;
    top: 2vh;
}
img.homebtn {
    position: absolute;
    left: 1%; 
    width: 3vw;
    opacity: 1;
    top: 2vh;
}

.select{
    color: white;
    text-align: center;
    margin-top: 4vh;
    font: 1.5vw "Oxanium", sans-serif;
    justify-content: space-between;
}

.select a {
    text-decoration: none;
    padding: 0 10px;
}


.order{
    position: relative;
    top: 10%;
    background-color: white;
    color: black;
    width: 23vw;
    height: 3vw;
    border-radius: 1rem;
    border: solid black;
    font-size: bolder;
    text-decoration: none;
    font:600 1vw "Oxanium", sans-serif; 
    text-align: center;
    display: flex;
    align-items: center;
    margin: auto;
}

.order-now{
    position: relative;
    top: 12vh;
    background-color: white;
    color: black;
    width: 8vw;
    height: 3vw;
    border-radius: 3rem;
    font-size: bolder;
    text-decoration: none;
    font:600 1vw "Oxanium", sans-serif;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
    }


.order-now:hover {
    background-color: #3498db;
    color: #ffffff;
  }

.morre{
    position: relative;
    top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.morre img {
    width: 12vw;
    height: auto;
}
